body{
  background-color: black;
  color: white;
  font-size: 8rem;
  text-align: center;

  
  
}
.Hour{
  font-size: 1.5rem;
  position: relative;
  top: -100px;
  left: -80px;
}
.Min{
  font-size: 1.5rem;
  position: relative;
  top: -100px;
  left: 20px;
  

}
.Sec{
  font-size: 1.5rem;
  position: relative;
  top: -100px;
  left: 100px;
}


