.App{
  margin: auto;
  position: relative;
  width: 500px;
}
.digits{
  font-size: 8rem;
}
.description{
  font-size: 1.5rem;
  color: #949a9c;
   
}
#hour{
  position: absolute;
  left: 40px;
}
#minute{
  position: absolute;
  left: 200px;

}
#second{
  position: absolute;
  right: 50px;
}